In [1]:
## 1. What is the output of the following code?
## ```python
a = 10
b = 2.5
c = "Hello"
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'str'>

In [2]:
## 2 2. Convert the following to integers:
## ```python
x = "123"
y = 45.67

In [3]:
print(int('123'))
print(int(45.67))

123
45

In [4]:
# 3. What is the difference between `int` and `float` in Python?

2. **String Manipulation**
1. Given the string `s = "Python Programming"`, write the code to:
1. Extract the word "Python".
2. Convert the entire string to uppercase.
3. Replace the word "Programming" with "Language".

In [6]:
s = "Python Programming"

s.upper()

'PYTHON PROGRAMMING'

In [7]:
s.replace('Programming','Language')

'Python Language'

In [8]:
#2. What is the output of the following code?
#```python
s = "Hello, World!"
print(s[7])
print(s[-1])
print(s[0:5])

W
!
Hello

#3. **List Operations**
#1. Given the list `
lst = [1, 2, 3, 4, 5]`, write the code to:
1. Append the number `6` to the list.
2. Remove the number `3` from the list.
3. Reverse the list.

In [16]:
lst = [1, 2, 3, 4, 5]
lst.append(6)    
print(lst)

[1, 2, 3, 4, 5, 6]

In [17]:
lst.remove(3)
print(lst)

[1, 2, 4, 5, 6]

In [19]:
lst[::-1]
print(lst[::-1])

[6, 5, 4, 2, 1]

In [20]:
t = (1, 2, 3, 4, 5)

In [11]:
t[2]

3

In [12]:
t[1:4]

(2, 3, 4)

In [13]:
3 in t

True

=======================
2. What is the output of the following code?
```python
lst = [1, 2, 3, 4, 5]
lst[2] = 10
print(lst)

In [21]:
lst = [1, 2, 3, 4, 5]
lst[2] =10
print(lst)

[1, 2, 10, 4, 5]

=============================

4. **Dictionary Operations**
1. Given the dictionary `d = {"name": "John", "age": 25, "city": "New York"}`, writ
1. Add a new key-value pair `"email": "john@example.com"`.
2. Update the age to `26`.

3. Remove the key `"city"`.

In [32]:
d = {"name": "John", "age": 25, "city": "New York"}
d['email'] = "john@example.com"
print(d)

{'name': 'John', 'age': 25, 'city': 'New York', 'email': 'john@example.com'}

In [33]:
d['age' ] = 26
print(d)

{'name': 'John', 'age': 26, 'city': 'New York', 'email': 'john@example.com'}

In [34]:
del d["city"]
print(d)

{'name': 'John', 'age': 26, 'email': 'john@example.com'}

==============================
2. What is the output of the following code?
```python
d = {"a": 1, "b": 2, "c": 3}
print(d["b"])
d["d"] = 4
print(d)

In [35]:
d = {"a": 1, "b": 2, "c": 3}

In [36]:
d['b']
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [37]:
d["d"] = 4 
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

===========================

5. **Tuple Operations**
1. Given the tuple `t = (1, 2, 3, 4, 5)`, write the code to:
1. Access the element at index `2`.
2. Slice the tuple to get `(2, 3, 4)`.
3. Check if the number `3` is in the tuple.

In [38]:
t = (1, 2, 3, 4, 5)
t[2]

3

In [39]:
t[1:4]

(2, 3, 4)

In [40]:
3 in t

True

=======================

6. **Set Operations**
1. Given the sets `set1 = {1, 2, 3}` and `set2 = {3, 4, 5}`, write the code to:
1. Find the union of the two sets.
2. Find the intersection of the two sets.
3. Check if `set1` is a subset of `set2`.

In [41]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [42]:
set1 | set2

{1, 2, 3, 4, 5}

In [43]:
set1 & set2

{3}

In [46]:
set1.issubset(set2)

False

==================

In [47]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 & set2)

{3}