## map(function, iterable)

In [14]:
# 1 .square of given list using map

def square(x):
    return x**2

b = map(square,[1,2,3])
list(b)

[1, 4, 9]

In [15]:
# 2. square of given list using lambda and map 

numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, numbers)
list(squared)

[1, 4, 9, 16, 25]

In [16]:
# Example 3: 

numbers_str = ['1', '2', '3', '4', '5']  # iterable
numbers_int = map(int, numbers_str)
print(list(numbers_int))

[1, 2, 3, 4, 5]

In [17]:
# Example 4: 
names = ['Milaan', 'Arthur', 'Bill', 'Clark'] # change to upper

def change_to_upper(x):
    return x.upper()

result = list(map(change_to_upper,names))
print(result)

['MILAAN', 'ARTHUR', 'BILL', 'CLARK']

In [19]:
#  5 use lambda to change into upper by using map

result1 = list(map(lambda x : x.upper(),names))
result1

['MILAAN', 'ARTHUR', 'BILL', 'CLARK']

In [20]:
# 6 double the list of number using map 

def double(x):
    return x * 2

mylist = [1,2,3]

result = list(map(double,mylist))
result

[2, 4, 6]

Python - filter Function
The filter() function calls the specified function which returns boolean for each item of the specified iterable (list). It filters the items that satisfy the filtering criteria.

# syntax
    filter(function, iterable)

In [21]:
# 1 print even list from given list using filter function 

numbers = [1, 2, 3, 4, 5]  # iterable

def is_even(x):
    if x % 2 == 0 :
        return True
    return False

even_numbers = list(filter(is_even,numbers)) 
even_numbers

[2, 4]

In [22]:
# 2 print odd list from given list  using filter function

numbers = [1, 2, 3, 4, 5]  # iterable

def is_odd(x):
    if x % 2 != 0:
        return True
    return False


odd_numbers = list(filter(is_odd,numbers))
print(odd_numbers)

[1, 3, 5]

In [23]:
# 3 filter a list from given list whose lenght of name is greater than 5 using filter

names = ['Milaan', 'Arthur', 'Bill', 'Clark']  # iterable

def long_name(x):
    if len(x) > 5 :
        return True
    return False

long_names = list(filter(long_name,names))
long_names

['Milaan', 'Arthur']

In [24]:
#4  Filter out all the numbers greater than 5 from a list using filter

my_list = [1,2,3,4,5,6,7,8,9]
output_list = filter(lambda x : x>5, my_list)

list(output_list)

[6, 7, 8, 9]

## The Reduce Function
- syntax
- reduce(func, seq)

In [2]:
# 1 Compute the product of a list of integers using 'reduce'function using lambda

from functools import reduce
product = reduce((lambda x,y : x*y), [1,2,3,4,5])

product

120

In [25]:
# 2 Compute the product of a list of integers using 'reduce'function 

from functools import reduce
def multiply(x, y):
    return x * y

numbers = [1, 2, 3, 4, 5]
result = reduce(multiply, numbers)
print(result)

120

### List comprehension

In [26]:
# 1 Creating a list of squares of first 10 using list comprehension

squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
# 2 double list using list comprehension

mylist = [10,20,30]

new_list = [i*2 for i in mylist]
new_list

[20, 40, 60]

In [28]:
# 3 filtering even numbers from a list

even_numbers = [i for i in range(5) if i %2 == 0 ]
print(even_numbers)

# Output: [2, 4, 6, 8]

[0, 2, 4]

In [29]:
# 4 List Comprehension with String find vowels from given word

word = 'hello'
vowels = 'aeiou'

result = [i for i in word if i in vowels ]
result

['e', 'o']

In [30]:
# 5 Finding word length exercise question using list comprehension

words = ["apple", "banana", "cherry", "orange"] 
result = [len(i) for i in words ]
result

[5, 6, 6, 6]

In [40]:
# 6 all letters to be uppercase

result = [i.upper() for i in 'ganesh']
result

['G', 'A', 'N', 'E', 'S', 'H']

In [41]:
#incase output we want in a string 
''.join(result)

'GANESH'

In [38]:
result = [i.lower() for i in 'ABCD']
result

['a', 'b', 'c', 'd']