### 1. Write a  Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [4]:
import re

def is_allowed_specific_char(string):
    a = re.findall(r'[a-zA-Z0-9]+', string)
    return bool(a)
                   
print(is_allowed_specific_char("ABCDEFabcdef123450")) 
print(is_allowed_specific_char("*&%@#!}{"))

True
False

### 2 Extract dates or numbers from string

In [8]:
target_string = "Emma is a basketball player who was born on June 17, 1993 me. Her weight is 51 kg."
a = re.findall(r"\d+",target_string)
a

['17', '1993', '51']

In [9]:
str1 = "Emma's luck numbers are 251 761 231 451"
a = re.findall(r'\d+',str1)
a

['251', '761', '231', '451']

### 3 Write a Python program to find sequences of lowercase letters joined by an underscore.

In [1]:
def text_match(text):
    a = re.findall(r"")


print(text_match("aab_cbbbc"))
print(text_match("aab_Abbbc"))
print(text_match("Aaab_abbbc"))

NameError: name 're' is not defined

###  4 . Write a Python program to remove multiple spaces from a string.

In [2]:
import re

str1 = 'hello good morning all of you '

re.sub (' ','',str1)

'hellogoodmorningallofyou'

In [3]:
str1 = 'hello      good morning all of you '

re.sub (' ','',str1)

'hellogoodmorningallofyou'

### 5 .  from string get name age in dict

In [5]:
import re
 
Nameage = '''
Janice is 22 and Theon is 33
Gabriel is 44 and Joey is 21
'''

name = re.findall(r'[A-Z][a-z]+' ,Nameage)
age = re.findall(r"\d{2}" ,Nameage)
a = {}

x = 0 
for i in name:
    a[i] = age[x]
    x += 1
print(a)

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}

In [10]:
import re

def str_age_name_to_dict(string):
    name = re.findall(r'[A-Z]{1}[a-z]+',string)
    age = re.findall(r'\d{2}' , string)
    req_dict = {}
    x = 0
    for i in name:
        req_dict[i] = age[x]
        x += 1
    return req_dict
str_age_name_to_dict('Janice is 22 and Theon is 33 Gabriel is 44 and Joey is 21')

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}

In [11]:
import re 

s = 'geeks.forgeeks'

# without using \ 
match = re.search(r'.', s)    #match every character . means everything search will give first occurance
print(match) 

# using \ 
match = re.search(r'\.', s) ### escape the . character
print(match)

<re.Match object; span=(0, 1), match='g'>
<re.Match object; span=(5, 6), match='.'>